

/*small mobile devices*/
@media all and (max-width: 699px) {
.q{
width: 100%; 
clear:both;

}
.i{
width: 100%; 
clear:both;

}

#question{
text-align: center;
}

}

/*medium mobile devices eg desktop*/
@media all and (min-width: 700px) and (max-width: 1024px){
.q{
width: 40%; 
float: left;
margin-top:10%;

}
.i{
width: 100%; 
}
#question{
font-weight:bold;
}

}



/*large devices eg desktop*/
@media all and (min-width: 1024px) {
#question{
color:blue;
	
}
.q{
width: 40%; 
float: left;
margin-top:10%;
}
.i{
width: 40%; 
float: right;
}

}